.swiper .swiper-button-prev {
  /* content: "<"; */
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  transition: 0.3s ease;
}
.swiper .swiper-button-prev:hover {
  background-color: #000;
}
.swiper .swiper-button-prev::after {
  content: ' ';
  background-image: url('https://cdn.shopify.com/s/files/1/0672/4776/7778/files/arrow-left.svg');
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper .swiper-button-next::after {
  content: ' ';
  background-image: url('https://cdn.shopify.com/s/files/1/0672/4776/7778/files/arrow-right.svg');
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper .swiper-button-next {
  /* content: ">"; */
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  transition: 0.3s ease;
}
.swiper .swiper-button-next:hover {
  background-color: #000;
}

.announcement-bar {
  text-align: center;
  background-color: rgb(28, 112, 132);
  color: #ffffff;
}

.announcement-bar p {
  padding: 10px 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 19.8px;
  font-size: 18px;
}

.subscriptionlabel {
  cursor: pointer;
}

.carousel__slider {
  max-height: 400px;
}

.product-grid .img-wrapper {
  cursor: pointer;
}

.dialog-content {
  max-width: 1080px;
  height: 80vh;
  padding: 1em;
  background: white;
  overflow-y: scroll;
  position: relative;
}

.dialog-content .close-panel {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.ball-circle {
  width: 30px;
  height: 30px;
  background-color: #425b34;
  display: inline-block;
  border-radius: 20px;
}

.webkit-box-shadow-none {
  -webkit-box-shadow: none !important;
}

.mobile-cart .cart-line-quantity {
}
.mobile-cart .cart-line-quantity > div {
  width: 100%;
}
.social-icon {
  fill: white;
}

.social-icon:hover {
  fill: #862e1b;
}

.shadow-none {
  -webkit-box-shadow: none;
}

.focus\:outline-none:focus {
  -webkit-box-shadow: none !important;
}

@font-face {
  font-family: 'ROCK';
  src: url('../assets/fonts/ROCK.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rockwell Bold';
  src: url('../assets/fonts/Rockwell-Bold_1.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Dunbar';
  src: url('../assets/fonts/DunbarLow-Light.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Dunbar';
  src: url('../assets/fonts/DunbarLow-Book.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Dunbar';
  src: url('../assets/fonts/DunbarLow-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Dunbar';
  src: url('../assets/fonts/DunbarLow-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Dunbar';
  src: url('../assets/fonts/DunbarLow-Bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Dunbar';
  src: url('../assets/fonts/DunbarLow-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

.mainheader .flex.orderBton span {
  font-size: 19.125px;
}

.overlay-css-cs:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.overlay-css-cs > div {
  z-index: 2;
}

.heroSection .flex.orderBton span {
  font-size: 20px;
  font-weight: 700;
}

section.bg-contain.bg-center .flex.orderBton {
  margin-top: 15px;
  margin-bottom: 5px;
}

section.bg-contain.bg-center .flex.orderBton span {
  font-size: 28px;
  font-weight: 700;
}

section.bg-contain.bg-center p.text-black.text-1xl.text-center {
  font-family: 'ROCK';
  font-size: 18px;
}

.sm\:block p.text-white.text-lg.mb-5 {
  color: #efefef;
}

section.bg-\[\#eeeeee\].flex.justify-center.items-center
  h1.xl\:px-4.py-2.lg\:px-2 {
  font-weight: 400;
  line-height: normal;
}

section.bg-\[\#eeeeee\].flex.justify-center.items-center
  h1.xl\:px-4.py-2.lg\:px-2 {
  font-weight: 400;
  line-height: normal;
}

section.bg-\[\#eeeeee\].flex.justify-center.items-center .flex.orderBton span {
  font-weight: 700;
}

section.heroSection.bg-\[\#c5972d\].px-4.py-10.flex.justify-center.items-center.bg-no-repeat.min-h-96.bg-contain
  h2.text-black.text-5xl.mt-2 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

section.heroSection.bg-\[\#c5972d\].px-4.py-10.flex.justify-center.items-center.bg-no-repeat.min-h-96.bg-contain
  .xl\:w-\[40\%\].lg\:w-\[100\%\] {
  background-color: rgba(0, 0, 0, 0.02);
}

section.bg-\[url\(\'https\:\/\/cdn\.shopify\.com\/s\/files\/1\/0555\/1751\/1961\/files\/Group_4677_2x_b4bf7720-0529-4907-b3d6-8ecc83b37a23\.png\'\)\].text-white.pt-2.pb-8
  h3.text-\[50px\] {
  font-family: 'Rockwell Bold' !important;
}

@media screen and (min-width: 1024px) {
  .bg-cover .lg\:flex-row .flex.flex-col {
    max-width: 35%;
  }

  section.bg-\[url\(\'https\:\/\/cdn\.shopify\.com\/s\/files\/1\/0555\/1751\/1961\/files\/Group_4677_2x_b4bf7720-0529-4907-b3d6-8ecc83b37a23\.png\'\)\].text-white.pt-2.pb-8
    .grid.items-center.justify-center.max-w-lg.gap-8.mx-auto.mt-4.lg\:max-w-none.lg\:grid-cols-3 {
    grid-template-columns: 2fr 2fr 1fr;
  }

  section.bg-\[url\(\'https\:\/\/cdn\.shopify\.com\/s\/files\/1\/0555\/1751\/1961\/files\/Group_4677_2x_b4bf7720-0529-4907-b3d6-8ecc83b37a23\.png\'\)\].text-white.pt-2.pb-8
    .flex.items-center.justify-center
    img {
    max-width: 165px;
  }
}

.banner {
  background-image: url('../assets/images/Banner.png');
}

.bg-brown-pattern {
  background-image: url('../assets/images/Rectangle-brown-pattern.png');
  background-size: cover;
}

span.free-text-label {
  color: black;
  margin-top: -15px;
  padding-bottom: 10px;
  font-family: Roboto;
}

button.free-gift-label {
  width: 100%;
  background: #1b7084;
  color: #fff;
  padding: 20px 10px;
  font-size: 12px;
  font-family: Roboto;
  margin: 5px;
}

.flex.flex-1.flex-col.sm\:flex-row.pr-\[10px\].justify-between.items-center {
  padding: 0;
}

/* -----> Make Header Sticky <------ */
.header {
  transition: top 0.3s;
}

.header--hidden {
  top: -100%;
}

.header--sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

@media screen and (min-width: 640px) {
  span.free-text-label,
  button.free-gift-label {
    display: none;
  }
}

.swiper-pagination-bullet {
  @apply !bg-[#7A392D];
}

.how-it-works-slider .swiper-pagination.swiper-pagination-lock {
  @apply sm:!hidden !block;
}

.how-it-works-slider.mobile .swiper-pagination > span:last-child {
  @apply hidden;
}

.rich-froning-banner-slider .swiper-pagination-bullet {
  @apply !bg-white w-[12px] h-[12px];
}

.bg-us-flag {
  background-image: url('../assets/images/bg-us-flag.png');
}

.container-small {
  @apply w-full max-w-[1120px] mx-auto my-0 px-[20px] py-0;
}

span.free-text-label {
  color: black;
  margin-top: -15px;
  padding-bottom: 10px;
  font-family: Roboto;
}

button.free-gift-label {
  width: 100%;
  background: #1b7084;
  color: #fff;
  padding: 20px 10px;
  font-size: 12px;
  font-family: Roboto;
  margin: 5px;
}

/* -----> Make Header Sticky <------ */
.header {
  transition: top 0.3s;
}

.header--hidden {
  top: -100%;
}

.header--sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

@media screen and (min-width: 640px) {
  span.free-text-label,
  button.free-gift-label {
    display: none;
  }
}

.bg-second-info-image-1 {
  background-image: url('../assets/images/bg-second-info-image-1.png');
}

.bg-second-info-image-2 {
  background-image: url('../assets/images/bg-second-info-image-2.png');
}

.bg-pig {
  background-image: url('../assets/images/Group_4179_2x_c20de474-5eef-421d-a248-f3a6c09ae36a.webp');
}

.bg-pnser {
  background-image: url('../assets/images/PNSER.webp');
}

.bg-farm {
  background-image: url('../assets/images/Farm_BG_Just_Meats.webp');
}

.bg-cock {
  background-image: url('../assets/images/Group_4161.webp');
}

.bg-house {
  background-image: url('../assets/images/orderpage_bg.png');
}

/* Custom scrollbar styles for cart_lines_scrollbar */
.cart_lines_scrollbar::-webkit-scrollbar {
  width: 8px;
    background-color: #f5f5f5;
}

.cart_lines_scrollbar::-webkit-scrollbar-track {
  border: 1px solid #707070;
    background-color: #f5f5f5;
}

.cart_lines_scrollbar::-webkit-scrollbar-thumb {
  background-color: #1c7084;
  
}

.bg-rich-froning-banner {
  background-image: url('../assets/images/rich-froning-banner.png');
}

.bg-yellow-pattern {
  background-image: url('../assets/images/7e0c002b6aef76e3311b714b92b70294.jpg');
}

.bg-JustMeatsPartnershipsWithRichFroningImage {
  background-image: url('../assets/images/d846c1f67f55ccfe07c25f1c0124d640.jpg');
}

.bg-rich-froning-learn-more {
  background-image: url('../assets/images/46d7bfd1d15cd6fcf26b387428b1a213.png');
}

.bg-rich-froning-learn-more-lightPattern1 {
  background-image: url('../assets/images/lightPattern1.png');
}

.bg-lower-footer {
  background-image: url('../assets/images/lower-footer1.png');
}
.productsSlider .slick-track{
  display: flex !important;
  gap: 22px !important;
}
.productsSlider .slick-prev:before, .slick-next:before {
  font-size: 41px !important;
  color: #908f8e !important;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
}
.slick-dots li button{
  background-color: transparent !important;
  border: 2px solid #fff !important;
  border-radius: 50% !important;
}
.slick-dots li.slick-active button:before{
  color: #fff !important;
  font-size: 10px !important;
}
.slick-slider .slick-track, .slick-slider .slick-list{
  text-align: center !important;
}
.slick-dots {
  bottom: -39px !important;
}

section.product-list-slider button.slick-arrow.slick-prev {
  @apply sm:left-[10px] left-[15px] z-10;
}

section.product-list-slider button.slick-arrow.slick-next {
  @apply sm:right-[25px] z-10 right-[35px];
}

.slider-container.productsSlider ul.slick-dots button {
  @apply w-4 h-4;
}
.slider-container.productsSlider ul.slick-dots li.slick-active button:before {
  @apply w-2 h-2 top-[-1.5px] left-[3.25px];
}

.productsSlider button.slick-arrow.slick-prev:before,
.productsSlider button.slick-arrow.slick-next:before {
  @apply opacity-100;
  background: rgba(0, 0, 0, 0.4) !important;
  font-family: monospace;
  color: white !important;
  font-size: 18px !important;
}
.productsSlider button.slick-arrow.slick-prev:before {
  @apply content-["<"];
}
.productsSlider button.slick-arrow.slick-next:before {
  @apply content-[">"];
}

.productsSlider button.slick-arrow.slick-prev:before,
.productsSlider button.slick-arrow.slick-next:before {
  @apply w-10 h-10;
}

.order-now-carousel > div {
  @apply max-w-[70%] m-auto;
}
.order-now-carousel {
  @apply gap-5;
}

.order-now-carousel > div:last-child {
  @apply max-w-full m-auto;
}
.order-now-carousel > div:last-child span {
  @apply w-4 h-4 relative border-2 border-solid border-[white];
  background: transparent;
}
.order-now-carousel > div:last-child span.bg-white:before {
  @apply content-[""] absolute -translate-x-2/4 -translate-y-2/4 w-2 h-2 left-2/4 top-2/4;
  background: white;
}