
 .swiper .swiper-button-prev{
  /* content: "<"; */
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  transition: 0.3s ease;
}
.swiper .swiper-button-prev:hover{
  background-color: #000;


}
.swiper .swiper-button-prev::after{
   content: " ";
}
.swiper .swiper-button-next::after{
   content: " ";
}
 .swiper .swiper-button-next{
  /* content: ">"; */
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  transition: 0.3s ease;
}
.swiper .swiper-button-next:hover{
  background-color: #000;


}