
 .swiper .swiper-button-prev{
  /* content: "<"; */
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  transition: 0.3s ease;
}
.swiper .swiper-button-prev:hover{
  background-color: #000;


}
.swiper .swiper-button-prev::after{
   content: " ";
   background-image: url('https://cdn.shopify.com/s/files/1/0672/4776/7778/files/arrow-left.svg');
   width: 40px;
   height: 40px;
   background-position: center;
   background-repeat: no-repeat;
}
.swiper .swiper-button-next::after{
   content:" " ;
   background-image: url("https://cdn.shopify.com/s/files/1/0672/4776/7778/files/arrow-right.svg");
   width: 40px;
   height: 40px;
   background-position: center;
   background-repeat: no-repeat;
}
 .swiper .swiper-button-next{
  /* content: ">"; */
  height: 40px;
  width: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000066;
  transition: 0.3s ease;
}
.swiper .swiper-button-next:hover{
  background-color: #000;


}


.product-grid .img-wrapper{
  cursor: pointer;
}

.dialog-content {
  max-width: 1080px;
  height: 80vh;
  padding: 1em;
  background: white;
  overflow-y: scroll;
  position: relative;
}

.dialog-content .close-panel {
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}

::backdrop {
  background-color: rgba(0,0,0,.75);
}